<% first_lang = nil %>
<div id="info_page" class="row">
	<div class="col-xs-12">
		<div class="visible-xs" style="width: 100%; height: 10px;"></div>
		<h3 class="padding-bottom-10"><%= t(:'page_titles.keys.info_page').capitalize %></h3>
		<ul class="nav nav-tabs">
			<% @info_pages.each_with_index do |(lang, data), i| %>
				<% if i == 0 %>
					<% first_lang = lang %>
				<% end %>
				<% if (!@hlang.blank? && lang.eql?(@hlang)) || (@hlang.blank? && i == 0) %>
					<li class="active"><a href="#"><%= image_tag("lang/"+lang+".svg", size: "16") %> <%= lang %></a></li>
				<% else %>
					<li><a href="<%= BASE_PATH %>/admin/interface?tab=info_page&hlang=<%= lang %>"><%= image_tag("lang/"+lang+".svg", size: "16") %> <%= lang %></a></li>
				<% end %>
			<% end %>
		</ul>
		<div class="content">
			<% selected_lang = !@hlang.blank? ? @hlang : first_lang %>
			<%= form_tag(BASE_PATH + '/admin/interface/info_page?hlang='+selected_lang, :class => "remote-form", :method => :post, :remote => true) do %>
				<%= text_area_tag 'info_page', @info_pages[selected_lang]["info_page"].html_safe, :class => 'wysihtml5' %>
				<%= submit_tag(t(:'button_labels.keys.save').capitalize, :class => "btn btn-primary") %>
			<% end %>
		</div>
	</div>
</div>