<div>
	<% if !@search_queries.blank? && @search_queries.any? %>
		<div class="col-xs-12" id="search-query-history">
			<h5><%= t(:"queries.keys.queries").capitalize %></h5>
			<table class="table table-hover search-query-table" data-search-query-history-limit="<%= @sl %>" data-current-query-id="<%= @namespace.eql?('search') && @query ? @query.id : '' %>">
				<thead>
					<tr>
						<th>CQL <%= t(:"queries.keys.pattern").capitalize %></th>
						<th><%= t(:"queries.keys.gap_values_tsv") %></th>
						<th><%= t(:"queries.keys.within").capitalize %></th>
						<th><%= t(:"queries.keys.filter").capitalize %></th>
						<th><%= t(:"queries.keys.group").capitalize %></th>
						<th><%= t(:"queries.keys.viewgroup").capitalize %></th>
						<th><%= t(:"queries.keys.hit_count").capitalize %></th>
						<th><%= t(:"queries.keys.document_count").capitalize %></th>
						<th><%= t(:"queries.keys.group_count").capitalize %></th>
						<th><%= t(:"queries.keys.status").capitalize %></th>
						<th><%= t(:"button_labels.keys.delete").capitalize %></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @search_queries.each do |query| %>
						<tr id="<%= query.id %>" class="clickable" data-url="<%= "/search/#{query.page}?#{query.assemble_url_params(['id', 'patt', 'filter', 'within', 'view', 'group', 'sort', 'viewgroup', 'sample', 'samplenum', 'sampleseed', 'page', 'number', 'offset', 'gap_values_tsv'])}" %>" data-namespace="search" data-query-id="<%= query.id %>">
							<td class="patt" data-patt="<%= query.patt %>"><%= query.patt %></td>
                            <td class="gap_values_tsv"><%= query.gap_values_tsv.blank? ? '-' : '<span class="glyphicon glyphicon-ok"></span>'.html_safe %></td>
                            <td class="within" data-within="<%= query.within %>"><%= query.within %></td>
							<td class="filter" data-filter="<%= query.filter %>"><%= query.filter.blank? ? '-' : query.filter %></td>
							<td class="group" data-group="<%= query.group %>"><%= query.group.blank? ? '-' : query.group %></td>
							<td class="viewgroup" data-viewgroup="<%= query.viewgroup %>"><%= query.viewgroup.blank? ? '-' : query.viewgroup %></td>
							<td><%= query.hit_count.blank? ? '-' : number_with_delimiter(query.hit_count, :delimiter => t(:'other.keys.numeric_delimiter')) %></td>
							<td><%= query.document_count.blank? ? '-' : number_with_delimiter(query.document_count, :delimiter => t(:'other.keys.numeric_delimiter')) %></td>
							<td><%= query.group_count.blank? ? '-' : number_with_delimiter(query.group_count, :delimiter => t(:'other.keys.numeric_delimiter')) %></td>
							<td><%= query.status %></td>
							<td><a href="#" class="remove-query" data-query-id="<%= query.id %>"><span class="glyphicon glyphicon-remove"></span></a></td>
							<td class="export">
							    <% unless query.running? || query.waiting? || query.failed? %>
                                    <% if query.not_exported? %>
                                        <a class="btn btn-xs btn-info export" data-namespace="search" data-query-id="<%= query.id %>" href="#"><%= t(:"button_labels.keys.export").capitalize %></a>
                                    <% elsif query.exporting? %>
                                        <img src="<%= image_url('spinner.gif') %>" />
                                    <% elsif query.exported? %>
                                        <a class="btn btn-xs btn-info download" data-format="csv" href="/search/download/id/<%= query.id %>.csv" style="z-index:2000;">CSV</a>
                                        <a class="btn btn-xs btn-info download" data-format="tsv" href="/search/download/id/<%= query.id %>.tsv" style="z-index:2000;">TSV</a>
                                    <% end %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>	
			</table>
			<% if @user.search_queries.size > @sl %>
				<button id="load-more-search-queries" type="button" class="btn btn-primary"><%= t(:"button_labels.keys.load_more").capitalize %></button>
			<% end %>
			</div>
	<% end %>
	<% if !@explore_queries.blank? && @explore_queries.any? %>
		<div class="col-xs-12" id="explore-query-history">
		<h5><%= t(:"queries.keys.explore_queries").capitalize %></h5>
		<table class="table table-hover explore-query-table" data-explore-query-history-limit="<%= @el %>" data-current-query-id="<%= @namespace.eql?('explore') && @query ? @query.id : '' %>">
			<thead>
				<tr>
					<th>CQL <%= t(:"queries.keys.pattern").capitalize %></th>
					<th><%= t(:"queries.keys.gap_values_tsv") %></th>
					<th><%= "page".capitalize %></th>
					<th><%= t(:"queries.keys.filter").capitalize %></th>
					<th><%= "list type".capitalize %></th>
					<th><%= t(:"queries.keys.hit_count").capitalize %></th>
					<th><%= t(:"queries.keys.document_count").capitalize %></th>
					<th><%= t(:"queries.keys.group_count").capitalize %></th>
					<th><%= t(:"queries.keys.status").capitalize %></th>
					<th><%= t(:"button_labels.keys.delete").capitalize %></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @explore_queries.each do |query| %>
					<tr id="<%= query.id %>" class="clickable" data-url="<%= "/explore/#{query.page}?#{query.assemble_url_params(['id', 'patt', 'filter', 'within', 'view', 'group', 'sort', 'sample', 'samplenum', 'sampleseed', 'page', 'number', 'offset', 'listtype', 'gap_values_tsv'])}" %>" data-namespace="explore" data-query-id="<%= query.id %>">
						<td class="patt" data-patt="<%= query.patt %>"><%= query.patt %></td>
                        <td class="gap_values_tsv"><%= query.gap_values_tsv.blank? ? '-' : '<span class="glyphicon glyphicon-ok"></span>'.html_safe %></td>
						<td class="page" data-page="<%= query.page %>"><%= query.page %></td>
						<td class="filter" data-filter="<%= query.filter %>"><%= query.filter.blank? ? '-' : query.filter %></td>
						<td class="listtype" data-listtype="<%= query.listtype %>"><%= query.listtype.blank? ? '-' : query.listtype %></td>
						<td><%= query.hit_count.blank? ? '-' : number_with_delimiter(query.hit_count, :delimiter => t(:'other.keys.numeric_delimiter')) %></td>
						<td><%= query.document_count.blank? ? '-' : number_with_delimiter(query.document_count, :delimiter => t(:'other.keys.numeric_delimiter')) %></td>
						<td><%= query.group_count.blank? ? '-' : number_with_delimiter(query.group_count, :delimiter => t(:'other.keys.numeric_delimiter')) %></td>
						<td><%= query.status %></td>
						<td><a href="#" class="remove-query" data-query-id="<%= query.id %>"><span class="glyphicon glyphicon-remove"></span></a></td>
						<td class="export">
							<% unless query.running? || query.waiting? || query.failed? %>
                                <% if query.not_exported? %>
                                    <a class="btn btn-xs btn-info export" data-namespace="explore" data-query-id="<%= query.id %>" href="#"><%= t(:"button_labels.keys.export").capitalize %></a>
                                <% elsif query.exporting? %>
                                    <img src="<%= image_url('spinner.gif') %>" />
                                <% elsif query.exported? %>
                                    <a class="btn btn-xs btn-info download" data-format="csv" href="/explore/download/id/<%= query.id %>.csv" style="z-index:2000;">CSV</a>
                                    <a class="btn btn-xs btn-info download" data-format="tsv" href="/explore/download/id/<%= query.id %>.tsv" style="z-index:2000;">TSV</a>
                                <% end %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>	
		</table>
		<% if @user.explore_queries.size > @el %>
			<button id="load-more-explore-queries" type="button" class="btn btn-primary"><%= t(:"button_labels.keys.load_more").capitalize %></button>
		<% end %>
		</div>
	<% end %>
</div>