<% if @namespace.eql?('explore') %>
	<% if !@query.input_page.blank? && @query.input_page.eql?('statistics') %>
		<%= render partial: "/"+@namespace+"/queries/result_tabs", layout: false, locals: { view: @query.view } %>
	<% end %>
<% elsif @namespace.eql?('search') %>
	<%= render partial: "/"+@namespace+"/queries/result_tabs", layout: false, locals: { view: @query.view, viewgroup: @query.viewgroup, url_params: @query.assemble_url_params(['patt', 'filter', 'within', 'group', 'viewgroup', 'sample', 'samplenum', 'sampleseed', 'gap_values_tsv']) } %>
<% end %>
<div id="query-result" class="tab-content">
	<% if @query.view == 1 %>
		<%= render partial: "/result/hits" %>
	<% elsif @query.view == 2 %>
		<%= render partial: "/result/docs" %>
	<% elsif @query.view == 4 %>
		<%= render partial: "/result/vocabulary_growth" %>
	<% elsif @query.view == 8 %>
		<%= render partial: "/result/grouped_hits" %>
	<% elsif @query.view == 16 %>
		<%= render partial: "/result/grouped_docs" %>
	<% end %>
</div>