<div id="column<%= @field[:column] %>" class="advanced-column panel panel-default">
	<div class="panel-heading">
		<div class="close hidden">
		    <a href="#" onclick="event.preventDefault();" class="drag-column"><%= fa_icon "arrows-h" %></span></a>
		    <a href="#" class="remove-column" data-column="<%= @field[:column] %>"><span class="glyphicon glyphicon-remove"></span></a>
		</div>
	</div>
	<div class="panel-body">
		<%= render partial: "/search/interface/advanced/box", layout: false %>
	</div>
	<div class="panel-footer">
		<div class="inline left-aligned">
			<a class="add-box" data-column="<%= @field[:column] %>"><%= image_tag 'plus.png' %></a>
		</div>
		<div class="inline right-aligned">
			<div class="repeat switch <%= !@field_values[:repeat_from].to_s.eql?('1') || !@field_values[:repeat_to].to_s.eql?('1') ? 'active' : '' %>">
				<span><%= t(:"operators.keys.repeat") %></span>
				<input type="number" class="from" min="0" value="<%= @field_values[:repeat_from] %>">
				<span><%= t(:"operators.keys.to") %></span>
				<input type="number" class="to" min="1" value="<%= @field_values[:repeat_to] %>">
				<span><%= t(:"operators.keys.times") %></span>
			</div>
			<div class="settings">
				<a href="#" class="toggle-settings" data-column="<%= @field[:column] %>"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
				<ul class="options hidden">
					<li>
						<a class="repeat" data-column="<%= @field[:column] %>"><%= t(:"operators.keys.repeat") %></a>
					</li>
					<li>
						<a class="startsen" data-column="<%= @field[:column] %>"><%= t(:"operators.keys.start_of_sentence") %></a>
					</li>
					<li>
						<a class="endsen" data-column="<%= @field[:column] %>"><%= t(:"operators.keys.end_of_sentence") %></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="right-aligned">
			<span class="btn btn-xs btn-info switch startsen <%= @field_values[:startsen] ? 'active' : '' %>"><%= t(:"operators.keys.start_of_sentence") %> <a href="#" class="startsen" data-column="<%= @field[:column] %>"><span class="glyphicon glyphicon-remove red"></span></a></span>
			<span class="btn btn-xs btn-info switch endsen <%= @field_values[:endsen] ? 'active' : '' %>"><%= t(:"operators.keys.end_of_sentence") %> <a href="#" class="endsen" data-column="<%= @field[:column] %>"><span class="glyphicon glyphicon-remove red"></span></a></span>
		</div>
	</div>
</div>