<% if @query.waiting? || @query.running? %>
	<% if @query.waiting? %>
		<% @query.execute %>
	<% end %>
	<div class="row">
		<div class="col-xs-12">
			<h5 class="warn"><span class="loading"></span></h5>
		</div>
	</div>
<% elsif !@query.failed? %>
	<div class="row pagination-row pagination-top">
		<%= render partial: "/layouts/pagination_with_url", layout: false, locals: { numbarr: [50, 100, 200], url: "/#{@namespace}/#{@query.page}?#{@query.assemble_url_params(['patt', 'filter', 'within', 'view', 'group'])}", total: @query.total, offset: @query.offset, number: @query.number } %>
	</div>
	<div class="row">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th><%= t(:"data_labels.keys.document").capitalize %></th>
					<th><%= t(:"data_labels.keys.collection").capitalize %></th>
					<th><%= t(:"data_labels.keys.corpus").capitalize %></th>
					<th># <%= t(:"results.keys.hits").capitalize %></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @query.result['results'].each do |doc| %>
					<tr class="clickable doc-row" data-docpid="<%= doc["docpid"] %>" data-hits="<%= doc["hit_count"] %>">
						<td><b><%= doc["docpid"] %></b></td>
						<td><%= doc["collection"] %></td>
						<td><%= doc["corpus"] %></td>
						<td><%= number_with_delimiter(doc["hit_count"], :delimiter => t(:'other.keys.numeric_delimiter')) %></td>
						<td style="width: 125px;"><button class="btn btn-primary btn-xs show-document" data-docpid="<%= doc["docpid"] %>"><%= t(:"button_labels.keys.show").capitalize+" "+t(:"data_labels.keys.document") %></button></td>
					</tr>
					<tr class="doc-hits-row hidden" id="<%= doc["docpid"] %>"></tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="row pagination-row">
		<%= render partial: "/layouts/pagination", layout: false, locals: { numbarr: [50, 100, 200], url: '/'+@namespace+'/result/id/'+@query.id.to_s+'.js', total: @query.total, offset: @query.offset, number: @query.number } %>
	</div>
<% end %>