<% if @query.waiting? || @query.running? || @query.output.blank? %>
	<% if @query.waiting? %>
		<% @query.execute %>
	<% end %>
	<div class="row">
		<div class="col-xs-12">
			<h5 class="warn"><span class="loading"></span></h5>
		</div>
	</div>
<% elsif !@query.failed? %>
	<div class="row pagination-row pagination-top">
	    <%= render partial: "/layouts/pagination_with_url", layout: false, locals: { numbarr: [50, 100, 200], url: "/#{@namespace}/#{@query.page}?#{@query.assemble_url_params(['patt', 'filter', 'within', 'view', 'group', 'viewgroup', 'sort', 'sample', 'samplenum', 'sampleseed', 'gap_values_tsv'])}", total: @query.total, offset: @query.offset, number: @query.number } %>
	</div>
	<div class="row" id="docs">
		<table class="table table-hover table-striped">
		    <% sort_url = @query.assemble_url_params(['patt', 'filter', 'within', 'view', 'group', 'offset', 'number', 'sample', 'samplenum', 'sampleseed', 'gap_values_tsv']) %>
			<thead>
				<tr>
					<th>
					    <a href="<%= "/#{@namespace}/#{@query.page}?#{sort_url}&sort=#{@query.sort.eql?('field:id') ? '-' : ''}field:id" %>">
					        <span class="glyphicon glyphicon-sort"></span>
					    </a>
					    <%= t(:"data_labels.keys.document").capitalize %>
					</th>
					<% if ENABLE_METADATA_FILTERING %>
					<th>
					    <a href="<%= "/#{@namespace}/#{@query.page}?#{sort_url}&sort=#{@query.sort.eql?('field:Collection_title') ? '-' : ''}field:Collection_title" %>">
					        <span class="glyphicon glyphicon-sort"></span>
					    </a>
					    <%= t(:"data_labels.keys.collection").capitalize %>
					</th>
					<th>
					    <a href="<%= "/#{@namespace}/#{@query.page}?#{sort_url}&sort=#{@query.sort.eql?('field:Corpus_title') ? '-' : ''}field:Corpus_title" %>">
					        <span class="glyphicon glyphicon-sort"></span>
					    </a>
					    <%= t(:"data_labels.keys.corpus").capitalize %>
					</th>
					<% end %>
					<th>
					    <a href="<%= "/#{@namespace}/#{@query.page}?#{sort_url}&sort=#{@query.sort.eql?('numhits') ? '-' : ''}numhits" %>">
					        <span class="glyphicon glyphicon-sort"></span>
					    </a>
					    # <%= t(:"results.keys.hits").capitalize %>
					</th>
					<th>
					    <a href="<%= "/#{@namespace}/#{@query.page}?#{sort_url}&sort=#{@query.sort.eql?('numhits') ? '-' : ''}numhits" %>">
					        <span class="glyphicon glyphicon-sort"></span>
					    </a>
					    <%= t(:"results.keys.relative_hits").capitalize %>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% hoverable = @metadata_handler.get_hoverable_metadata %>
				<% @query.result(false)['results'].each_with_index do |doc, i| %>
					<span id="tooltip<%= i %>" class="hidden wl-tooltip">
						<h5>Metadata</h5>
						<ul class="list-unstyled">
							<li><b>Document</b>: <%= doc["docpid"] %></li>
							<% doc["metadata"].select{|key,_| hoverable.include?(key) || hoverable.include?("Metadata_#{key}") }.each do |key, values| %>
								<% group = hoverable.include?("Metadata_#{key}") ? "Metadata" : key.split('_')[0] %>
								<% mkey = hoverable.include?("Metadata_#{key}") ? key : key.split('_',2)[1] %>
								<li><b><%= t(:"metadata_groups.keys.#{group}") %> <%= t(:"metadata_keys.keys.#{mkey}") %></b>: <%= values %></li>
							<% end %>
						</ul>
					</span>
					<tr class="clickable doc-row tooltip-hover" data-tooltip="tooltip<%= i %>" data-docpid="<%= doc["docpid"] %>" data-hits="<%= doc["hit_count"] %>">
						<td><b><%= doc["docpid"] %></b></td>
						<% if ENABLE_METADATA_FILTERING %>
						<td><%= doc["collection"] %></td>
						<td><%= doc["corpus"] %></td>
						<% end %>
						<td><%= number_with_delimiter(doc["hit_count"], :delimiter => t(:'other.keys.numeric_delimiter')) %></td>
						<td><%= number_with_precision(doc["relative_hit_count"], precision: 1, separator: t(:"other.keys.numeric_separator")) %> %</td>
						<td style="width: 125px;"><button class="btn btn-primary btn-xs show-document" data-docpid="<%= doc["docpid"] %>"><%= t(:"button_labels.keys.show").capitalize+" "+t(:"data_labels.keys.document") %></button></td>
					</tr>
					<tr class="doc-hits-row hidden" id="<%= doc["docpid"] %>"></tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="row pagination-row">
		<%= render partial: "/layouts/pagination_with_url", layout: false, locals: { numbarr: [50, 100, 200], url: "/#{@namespace}/#{@query.page}?#{@query.assemble_url_params(['patt', 'filter', 'within', 'view', 'group', 'viewgroup', 'sort', 'sample', 'samplenum', 'sampleseed', 'gap_values_tsv'])}", total: @query.total, offset: @query.offset, number: @query.number } %>
	</div>
<% end %>