<% if @namespace && @namespace.eql?('search') %>
	<div class="row">
		<div class="col-xs-12">
			<%= select_tag(:"group", grouped_options_for_select(@groups, @query.group), :class => "group-by-select", :include_blank => true) %>
		</div>
	</div>
<% end %>
<% if (@query.waiting? && !@query.group.blank?) || @query.running? %>
	<div class="row">
		<div class="col-xs-12">
			<h5 class="warn"><span class="loading"></span></h5>
		</div>
	</div>
<% elsif !@query.failed? && !@query.output.blank? %>
	<div class="row pagination-row pagination-top">
		<%= render partial: "/layouts/pagination_with_url", layout: false, locals: { numbarr: [50, 100, 200], url: "/#{@namespace}/#{@query.page}?#{@query.assemble_url_params(['patt', 'filter', 'within', 'view', 'group'])}", total: @query.total, offset: @query.offset, number: @query.number } %>
	</div>
	<div class="row grouped-results" id="grouped-docs">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th><%= @group %></th>
					<th><%= t(:"data_labels.keys.document").pluralize.capitalize %></th>
				</tr>
			</thead>
			<tbody>
				<% @query.result(false)['results'].each_with_index do |group,i| %>
					<% largest_group = @query.result(false)['largest_group_size'] %>
					<tr class="clickable grouped-doc-row" data-group-value="<%= group[@group] %>" data-group-id="<%= @query.group+i.to_s %>">
						<td><%= group[@group].html_safe %></td>
						<td class="progress-field">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="<%= group['document_count'] %>" aria-valuemin="1" aria-valuemax="<%= largest_group %>" style="width: <%= (group['document_count'] / largest_group.to_f) * 100 %>%; min-width: 6em;"><%= number_with_delimiter(group['document_count'], :delimiter => t(:'other.keys.numeric_delimiter')) %> (<%= number_with_precision((group['document_count'].to_f / @query.document_count) * 100, precision: 1, separator: t(:'other.keys.numeric_separator')) %> %)</div>
							</div>
						</td>
					</tr>
					<% if @namespace.eql?('search') %>
						<tr class="group-docs-row hidden" id="<%= @query.group+i.to_s %>" data-offset="0">
							<td></td>
							<td>
								<div class="docs"><table class="table">
									<thead>
										<tr>
											<th><%= t(:"data_labels.keys.document").capitalize %></th>
											<th><%= t(:"data_labels.keys.collection").capitalize %></th>
											<th><%= t(:"data_labels.keys.corpus").capitalize %></th>
											<th># <%= t(:"results.keys.hits").capitalize %></th></tr>
									</thead>
									<tbody></tbody>
								</table></div>
								<div><button class="btn btn-xs btn-info show-grouped-docs" data-group-value="<%= group[@group] %>"><%= t(:"button_labels.keys.show_detailed").capitalize+" "+t(:"data_labels.keys.document").pluralize %></button> <button class="btn btn-xs btn-default load-grouped-docs" data-group-id="<%= @query.group+i.to_s %>" data-group-value="<%= group[@group] %>"><%= t(:"button_labels.keys.load_more").capitalize %></button></div>
							</td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="row pagination-row">
		<%= render partial: "/layouts/pagination_with_url", layout: false, locals: { numbarr: [50, 100, 200], url: "/#{@namespace}/#{@query.page}?#{@query.assemble_url_params(['patt', 'filter', 'within', 'view', 'group'])}", total: @query.total, offset: @query.offset, number: @query.number } %>
	</div>
<% else %>
	<div class="spacer" style="width: 100%; height: 300px;"></div>
<% end %>