<% if @namespace && @namespace.eql?('search') %>
	<div class="row">
		<div class="col-xs-12">
			<%= select_tag(:"group", grouped_options_for_select(@groups, query.group), :class => "group-by-select", :include_blank => true) %>
		</div>
	</div>
<% end %>
<% if !query.blank? && ((query.waiting? && !query.group.blank?) || query.running?) %>
	<div class="row">
		<div class="col-xs-12">
			<h5 class="warn"><span class="loading"></span></h5>
		</div>
	</div>
<% elsif !query.failed? %>
	<div class="row pagination-row pagination-top">
		<%= render partial: "/layouts/pagination_with_url", layout: false, locals: { numbarr: [50, 100, 200], url: "/#{@namespace}/#{query.page}?#{query.assemble_url_params(['patt', 'filter', 'within', 'view', 'group'])}", total: query.total, offset: query.offset, number: query.number } %>
	</div>
	<div class="row">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th><%= @group %></th>
					<th><%= t(:"data_labels.keys.hit").pluralize.capitalize %></th>
				</tr>
			</thead>
			<tbody>
				<% query.result['results'].each_with_index do |group,i| %>
					<tr class="clickable grouped-hit-row" data-group-value="<%= group[@group] %>" data-group-id="<%= query.group+i.to_s %>">
						<td><%= group[@group].kind_of?(Array) ? group[@group][0].html_safe : group[@group].html_safe %></td>
						<td class="progress-field">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="<%= group['hit_count'] %>" aria-valuemin="1" aria-valuemax="<%= query.hit_count %>" style="width: <%= [group['hit_count'],100].min %>%; min-width: 4em;"><%= number_with_delimiter(group['hit_count'], :delimiter => t(:'other.keys.numeric_delimiter')) %></div>
							</div>
						</td>
					</tr>
					<% if @namespace.eql?('search') %>
						<tr class="group-hits-row hidden" id="<%= query.group+i.to_s %>" data-offset="0">
							<td></td>
							<td>
								<div class="hits"><table class="table">
									<thead>
										<tr>
											<th class="right-aligned"><%= t(:"results.keys.context").capitalize+" "+t(:"results.keys.left") %></th>
											<th class="center-aligned"><%= t(:"data_labels.keys.hit").capitalize %></th>
											<th><%= t(:"results.keys.context").capitalize+" "+t(:"results.keys.right") %></th></tr>
									</thead>
									<tbody></tbody>
								</table></div>
								<div><button class="btn btn-xs btn-info show-grouped-hits" data-group-value="<%= group[@group] %>"><%= t(:"button_labels.keys.show_detailed").capitalize+" "+t(:"data_labels.keys.hit").pluralize %></button> <button class="btn btn-xs btn-default load-grouped-hits" data-group-id="<%= query.group+i.to_s %>" data-group-value="<%= group[@group] %>"><%= t(:"button_labels.keys.load_more").capitalize %></button></div>
							</td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="row pagination-row">
		<%= render partial: "/layouts/pagination", layout: false, locals: { numbarr: [50, 100, 200], url: '/'+@namespace+'/result/id/'+query.id.to_s+'.js', total: query.total, offset: query.offset, number: query.number } %>
	</div>
<% else %>
	<div class="spacer" style="width: 100%; height: 300px;"></div>
<% end %>