<% if @query.blank? || @query.waiting? || @query.running? || @query.output.blank? %>
	<div class="row">
		<div class="col-xs-12">
			<h5 class="warn"><span class="loading"></span></h5>
		</div>
	</div>
<% elsif !@query.failed? %>
	<% docs = [] %>
	<div class="row pagination-row pagination-top">
		<%= render partial: "/layouts/pagination_with_url", layout: false, locals: { numbarr: [50, 100, 200], url: BASE_PATH + "/#{@namespace}/#{@query.page}?#{@query.assemble_url_params(['patt', 'filter', 'within', 'view', 'group', 'listtype', 'viewgroup', 'sort', 'sample', 'samplenum', 'sampleseed', 'gap_values_tsv'])}", total: @query.total, offset: @query.offset, number: @query.number } %>
	</div>
	<div class="row" id="hits">
		<table class="table table-hover table-striped">
		    <% sort_url = @query.assemble_url_params(['patt', 'filter', 'within', 'view', 'group', 'listtype', 'viewgroup', 'offset', 'number', 'sample', 'samplenum', 'sampleseed', 'gap_values_tsv']) %>
			<thead>
				<tr>
					<% if ENABLE_METADATA_FILTERING %>
					<th>
					    <% if @whitelab.gap_values_enabled %>
					    <a href="<%= BASE_PATH + "/#{@namespace}/#{@query.page}?#{sort_url}&sort=#{@query.sort.eql?('field:Corpus_title') ? '-' : ''}field:Corpus_title" %>#results">
					        <span class="glyphicon glyphicon-sort"></span>
					    </a>
					    <% end %>
					    <%= t(:"data_labels.keys.corpus").capitalize %>
					</th>
					<% end %>
					<th class="right-aligned">
					    <a href="<%= BASE_PATH + "/#{@namespace}/#{@query.page}?#{sort_url}&sort=#{!@query.sort.blank? && @query.sort.start_with?('context') ? '-' : ''}context:word:s:L5-5%3BL4-4%3BL3-3%3BL2-2%3BL1-1" %>#results">
					        <span class="glyphicon glyphicon-sort"></span>
					    </a>
					    <%= t(:"results.keys.context").capitalize+" "+t(:"results.keys.left") %>
					</th>
					<th class="center-aligned">
					    <a href="<%= BASE_PATH + "/#{@namespace}/#{@query.page}?#{sort_url}&sort=#{@query.sort.eql?('hit:word:s') ? '-' : ''}hit:word:s" %>#results">
					        <span class="glyphicon glyphicon-sort"></span>
					    </a>
					    <%= t(:"data_labels.keys.hit").capitalize %>
					</th>
					<th>
					    <a href="<%= BASE_PATH + "/#{@namespace}/#{@query.page}?#{sort_url}&sort=#{@query.sort.eql?('right') ? '-' : ''}right" %>#results">
					        <span class="glyphicon glyphicon-sort"></span>
					    </a>
					    <%= t(:"results.keys.context").capitalize+" "+t(:"results.keys.right") %>
					</th>
					<th>
					    <a href="<%= BASE_PATH + "/#{@namespace}/#{@query.page}?#{sort_url}&sort=#{@query.sort.eql?('hit:lemma:s') ? '-' : ''}hit:lemma:s" %>#results">
					        <span class="glyphicon glyphicon-sort"></span>
					    </a>
					    <%= t(:"data_labels.keys.hit").capitalize+" "+t(:"data_labels.keys.lemma").capitalize %>
					</th>
					<th>
					    <a href="<%= BASE_PATH + "/#{@namespace}/#{@query.page}?#{sort_url}&sort=#{@query.sort.eql?('hit:pos:s') ? '-' : ''}hit:pos:s" %>#results">
					        <span class="glyphicon glyphicon-sort"></span>
					    </a>
					    <%= t(:"data_labels.keys.hit").capitalize+" "+t(:"data_labels.keys.pos").capitalize %>
					</th>
					<th>
					    <a href="<%= BASE_PATH + "/#{@namespace}/#{@query.page}?#{sort_url}&sort=#{@query.sort.eql?('hit:phonetic:s') ? '-' : ''}hit:phonetic:s" %>#results">
					        <span class="glyphicon glyphicon-sort"></span>
					    </a>
					    <%= t(:"data_labels.keys.hit").capitalize+" "+t(:"data_labels.keys.phonetic").capitalize %>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% query_result = @query.result(false) %>
				<% hoverable = @metadata_handler.get_hoverable_metadata %>
				<% query_result['results'].each_with_index do |hit, i| %>
					<% if !docs.include?(hit["docpid"]) %>
						<% docs << hit["docpid"] %>
					<% end %>
					<span id="tooltip<%= i %>" class="hidden wl-tooltip">
						<h5>Metadata</h5>
						<ul class="list-unstyled">
							<li><b>Document</b>: <%= hit["docpid"] %></li>
						<% query_result["documents"][hit["docpid"]].select{|key,_| hoverable.include?(key) || hoverable.include?("Metadata_#{key}") }.each do |key, values| %>
							<% group = hoverable.include?("Metadata_#{key}") ? "Metadata" : key.split('_')[0] %>
							<% mkey = hoverable.include?("Metadata_#{key}") ? key : key.split('_',2)[1] %>
							<li><b><%= t(:"metadata_groups.keys.#{group}") %> <%= t(:"metadata_keys.keys.#{mkey}") %></b>: <%= values %></li>
						<% end %>
						</ul>
					</span>
					<tr class="<%= 'clickable' unless @namespace.eql?('explore') %> hit-row tooltip-hover" data-tooltip="tooltip<%= i %>" data-docpid="<%= hit["docpid"] %>" data-first-index="<%= hit["first_index"] %>" data-last-index="<%= hit["last_index"] %>">
						<% if ENABLE_METADATA_FILTERING %>
						<td>
							<%= hit["corpus"] %>
						</td>
						<% end %>
						<td class="right-aligned">
							&hellip; <%= hit["text_left"].html_safe %>
						</td>
						<td class="center-aligned hit-text">
							<%= hit["hit_text"].html_safe %>
						</td>
						<td>
							<%= hit["text_right"].html_safe %> &hellip;
						</td>
						<td><%= hit["hit_lemma"].html_safe %></td>
						<td><%= hit["hit_pos"] %></td>
						<td>
							<% if !hit["begin_time"].blank? && !hit["begin_time"].eql?("Unknown") && !hit["end_time"].blank? && !hit["end_time"].eql?("Unknown") %>
								<a href="#" class="playsound btn btn-xs btn-info" data-audio-url="<%= BASE_PATH %>/<%= @namespace %>/document/<%= hit['docpid'] %>/audio?format=mp3" data-audio-id="<%= hit['docpid'] +'_'+ hit['first_index'].to_s %>" data-begin-time="<%= hit["begin_time"] %>" data-end-time="<%= hit["end_time"] %>"><span class="glyphicon glyphicon-play"></span></a>
							<% end %>
							<%= !hit["hit_phonetic"].blank? ? hit["hit_phonetic"] : '' %>
						</td>
						<td style="width: 125px;"><button class="btn btn-primary btn-xs show-document" data-docpid="<%= hit["docpid"] %>"><%= t(:"button_labels.keys.show").capitalize+" "+t(:"data_labels.keys.document") %></button></td>
					</tr>
					<tr class="hit-context-row hidden" id="<%= hit["docpid"]+"_"+hit["first_index"].to_s+"_"+hit["last_index"].to_s %>"></tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="row pagination-row">
		<%= render partial: "/layouts/pagination_with_url", layout: false, locals: { numbarr: [50, 100, 200], url: BASE_PATH + "/#{@namespace}/#{@query.page}?#{@query.assemble_url_params(['patt', 'filter', 'within', 'view', 'group', 'listtype', 'viewgroup', 'sort', 'sample', 'samplenum', 'sampleseed', 'gap_values_tsv'])}", total: @query.total, offset: @query.offset, number: @query.number } %>
	</div>
<% end %>
