<div id="pos-tags" class="page-list-main row" data-url="<%= BASE_PATH %>/admin/index?tab=postags" data-number="<%= @number %>" data-offset="<%= @offset %>" data-sort="<%= @sort %>" data-order="<%= @order %>">
	<h3><%= t(:'page_titles.keys.pos_tags').capitalize %></h3>
	<div class="pagination col-xs-12"></div>
	<div class="pos-tags-list col-xs-12"><span class="loading"></span></div>
</div>