<% if @query %>
	<a id="history-toggle" href="#" class="show-history btn btn-info" data-query-id="<%= @query.id %>"><span class="glyphicon glyphicon-time"></span></a>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading"><label><%= t(:"queries.keys.query") %></label></div>
				<div class="panel-body"><div id="query-details" class="tab-content contrast" data-query-id="<%= @query.id %>"></div></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="results" class="panel panel-default">
				<div class="panel-heading"><label><%= t(:"page_titles.keys.results").capitalize %></label></div>
				<div class="panel-body">
					<div id="result-pane" class="row" data-query-id="<%= @query.id %>" data-query-page="<%= @query.page %>" data-query-patt="<%= @query.patt %>" data-query-filter="<%= @query.filter %>" data-query-within="<%= @query.query_result.within %>" data-query-view="<%= @query.query_result.view %>"></div>
				</div>
			</div>
		</div>
	</div>
<% elsif @queries.length > 0 || @export_queries.length > 0 %>
	<a id="history-toggle" href="#" class="show-history btn btn-info" data-query-id=""><span class="glyphicon glyphicon-time"></span></a>
<% else %>
	<a id="history-toggle" href="#" class="show-history btn btn-info hidden" data-query-id=""><span class="glyphicon glyphicon-time"></span></a>
<% end %>
