<div class="row subnav">
	<ul id="admin-nav">
		<li id="settings_link" class="active permanent"><b><%= t(:"page_titles.keys.settings").upcase %></b></li>
		<% if @admin_logged_in %>
			<% if @backend.get_backend_type().eql?('neo4j') %>
			<% if !@page || @page.eql?('overview') %>
				<li id="overview_link" class="active"><a class="tablink" onclick="event.preventDefault();"><%= t(:"page_titles.keys.overview").capitalize %></a></li>
			<% else %>
				<li id="overview_link"><a class="tablink" href="/admin/overview"><%= t(:"page_titles.keys.overview").capitalize %></a></li>
			<% end %>
			<% end %>
			<% if @page && @page.eql?('index') %>
				<li id="index_link" class="active"><a class="tablink" onclick="event.preventDefault();"><%= t(:"page_titles.keys.index").capitalize %></a></li>
			<% else %>
				<li id="index_link"><a class="tablink" href="/admin/index"><%= t(:"page_titles.keys.index").capitalize %></a></li>
			<% end %>
			<% if @page && @page.eql?('interface') %>
				<li id="interface_link" class="active"><a class="tablink" onclick="event.preventDefault();"><%= t(:"page_titles.keys.interface").capitalize %></a></li>
			<% else %>
				<li id="interface_link"><a class="tablink" href="/admin/interface"><%= t(:"page_titles.keys.interface").capitalize %></a></li>
			<% end %>
			<li id="interface_link">
				<%= link_to t(:"page_titles.keys.logout").capitalize, signout_path, method: 'DELETE' %>
			</li>
		<% else %>
			<li id="interface_link" class="active"><a class="tablink" onclick="event.preventDefault();">Log in</a></li>
		<% end %>
	</ul>
</div>
