<% provide(:title, t(:'page_titles.keys.settings').capitalize+" "+t(:'page_titles.keys.login').capitalize) %>
<div class="col-xs-10 col-xs-offset-1">
	<%= form_tag(signin_path, id: "signin-form", method: "post", :class => "full-height") do %>
		<div class="box-xs col-xs-12 visible-xs">
			<div class="form-group">
				<%= label_tag(:user, "User:") %>
	  			<%= text_field_tag(:user, nil, :class => "form-control") %>
			</div>
			<div class="form-group">
				<%= label_tag(:key, "Password:") %>
	  			<%= password_field_tag(:key, nil, :class => "form-control") %>
			</div>
			<div class="btn-group" role="group">
				<%= submit_tag('Log in', class: 'btn btn-primary') %>
			</div>
		</div>
		<div class="box-sm float-center visible-sm visible-md visible-lg col-sm-6 col-sm-offset-3 no-padding pull-top-60">
			<div class="form-group">
				<%= label_tag(:user, "User") %>
	  			<%= text_field_tag(:user, nil, :class => "form-control") %>
			</div>
			<div class="form-group">
				<%= label_tag(:key, "Password") %>
	  			<%= password_field_tag(:key, nil, :class => "form-control") %>
			</div>
			<div class="btn-group" role="group">
				<%= submit_tag('Log in', class: 'btn btn-primary') %>
			</div>
		</div>
	<% end %>
</div>