<div class="row subnav">
	<ul id="search-nav">
		<% if action_name.eql?("simple") %>
			<li id="simple_link" class="active"><a class="tablink" onclick="event.preventDefault();"><%= t(:"page_titles.keys.simple").capitalize %></a></li>
		<% else %>
			<li id="simple_link">
				<a class="tablink"  href="/search/simple<%= !query || query.blank? ? "" : "#{query_params}&view_page=simple" %>"><%= t(:"page_titles.keys.simple").capitalize %></a>
			</li>
		<% end %>
		<% if action_name.eql?("extended") %>
			<li id="extended_link" class="active"><a class="tablink" onclick="event.preventDefault();"><%= t(:"page_titles.keys.extended").capitalize %></a></li>
		<% else %>
			<li id="extended_link">
				<a class="tablink"  href="/search/extended<%= !query || query.blank? ? "" : "#{query_params}&view_page=extended" %>"><%= t(:"page_titles.keys.extended").capitalize %></a>
			</li>
		<% end %>
		<% if action_name.eql?("advanced") %>
			<li id="advanced_link" class="active"><a class="tablink" onclick="event.preventDefault();"><%= t(:"page_titles.keys.advanced").capitalize %></a></li>
		<% else %>
			<li id="advanced_link">
				<a class="tablink"  href="/search/advanced<%= !query || query.blank? ? "" : "#{query_params}&view_page=advanced" %>"><%= t(:"page_titles.keys.advanced").capitalize %></a>
			</li>
		<% end %>
		<% if action_name.eql?("expert") %>
			<li id="expert_link" class="active"><a class="tablink" onclick="event.preventDefault();"><%= t(:"page_titles.keys.expert").capitalize %></a></li>
		<% else %>
			<li id="expert_link">
				<a class="tablink"  href="/search/expert<%= !query || query.blank? ? "" : "#{query_params}&view_page=expert" %>"><%= t(:"page_titles.keys.expert").capitalize %></a>
			</li>
		<% end %>
		<% if action_name.eql?("document") %>
			<li id="link-spacer"><a class="tablink" onclick="event.preventDefault();" disabled>||</a></li>
			<li id="document_link" class="active"><a class="tablink" onclick="event.preventDefault();"><%= t(:"page_titles.keys.document").capitalize %></a></li>
		<% end %>
	</ul>
	<% if !action_name.eql?("simple") && !action_name.eql?("document") %>
		<%= render partial: "/metadata/filters" %>
	<% end %>
</div>
