<% provide(:title, t(:'page_titles.keys.search').capitalize+" "+t(:'page_titles.keys.advanced').capitalize) %>
<div id="advanced" class="search-input-display" data-query-pattern="<%= @query && !@query.patt.blank? ? @query.patt : "" %>" data-query-filter="<%= @query && !@query.filter.blank? ? @query.filter : "" %>" data-query-input-page="<%= @query && !@query.input_page.blank? ? @query.input_page : "" %>">
	<div class="row padding-bottom-20">
		<div class="form-group padding-top-15">
			<div class="col-xs-11">
				<input id="splitcheck" class="splitcheck" type="checkbox" />
					<span> <%= t(:'instructions.keys.split_batch_queries') %></span>
				</input>
			</div>
			<div class="col-xs-11 padding-top-15">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-primary btn-submit"><%= t('button_labels.keys.search').capitalize %></button>
					<button type="button" class="btn btn-default btn-reset" data-url="/search/advanced"><%= t('button_labels.keys.reset').capitalize %></button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="advanced-canvas" class="inline top-aligned"></div>
		<div class="inline top-aligned"><a href="#" class="add-column"><%= image_tag 'plus.png' %></a></div>
	</div>
</div>
<%= render partial: "/queries/index", :locals => { :no_output => false } %>
