<% provide(:title, t(:'page_titles.keys.search').capitalize+" "+t(:'page_titles.keys.document').capitalize) %>
<div id="document" class="search-input-display" data-query-pattern="<%= @query && !@query.patt.blank? ? @query.patt : "" %>" data-query-filter="<%= @query && !@query.filter.blank? ? @query.filter : "" %>" data-query-input-page="<%= @query && !@query.input_page.blank? ? @query.input_page : "" %>">
	<%= render partial: "/documents/display" %>
</div>
<%= render partial: "/queries/index", :locals => { :query => nil, :queries => @user.query_history('explore_queries'), :export_queries => @user.query_history('export_queries') } %>
