<% provide(:title, t(:'page_titles.keys.search').capitalize+" "+t(:'page_titles.keys.expert').capitalize) %>
<div id="expert" class="search-input-display" data-query-pattern="<%= @query && !@query.patt.blank? ? @query.patt : "" %>" data-query-filter="<%= @query && !@query.filter.blank? ? @query.filter : "" %>" data-query-input-page="<%= @query && !@query.input_page.blank? ? @query.input_page : "" %>">
	<div class="row padding-top-20">
		<div class="col-xs-12 col-sm-6 rel-pos" id="expert-input-form">
			<h4>Corpus Query Language:</h4><a class="expert-info-icon"><%= image_tag 'info_icon.png', :class => 'icon' %></a>
			<textarea id="expert-input"><%= @query ? @query.patt : '' %></textarea>
			<div class="full-width text-right padding-top-15">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-primary btn-submit"><%= t('button_labels.keys.search').capitalize %></button>
					<button type="button" class="btn btn-default btn-reset" data-url="/search/expert"><%= t('button_labels.keys.reset').capitalize %></button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="expert-info <%= @tour_data ? 'active' : '' %>">
				<label><%= t(:"cql_info.keys.intro").html_safe %>:</label>
				<ul class="examples">
					<% (1..10).each do |i| %>
						<li><%= t(:"cql_info.keys.line#{i}").html_safe %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
<%= render partial: "/queries/index", :locals => { :query => @query } %>
