<% provide(:title, t(:'page_titles.keys.search').capitalize+" "+t(:'page_titles.keys.extended').capitalize) %>
<div id="extended" class="search-input-display" data-query-pattern="<%= @query && !@query.patt.blank? ? @query.patt : "" %>" data-query-filter="<%= @query && !@query.filter.blank? ? @query.filter : "" %>" data-query-input-page="<%= @query && !@query.input_page.blank? ? @query.input_page : "" %>">
	<div class="row small-form">
		<div class="col-xs-10 col-sm-6 col-xs-offset-1 col-sm-offset-3">
			<% ['word','lemma','pos','phonetic'].each do |field| %>
				<%= render partial: "/search/interface/extended/search_field", layout: false, locals: { field: field, options: get_translated_pos_heads } %>
			<% end %>
			<div class="form-group padding-top-15 text-right">
				<div class="col-xs-11 col-sm-12 padding-top-15">
					<input id="splitcheck" class="splitcheck" type="checkbox" />
						<span> <%= t(:'instructions.keys.split_batch_queries') %></span>
					</input>
				</div>
				<div class="col-xs-11 col-sm-12 padding-top-15">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary btn-submit"><%= t('button_labels.keys.search').capitalize %></button>
						<button type="button" class="btn btn-default btn-reset" data-url="/search/extended"><%= t('button_labels.keys.reset').capitalize %></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render partial: "/queries/index", :locals => { :no_output => false } %>
