<ul class="nav nav-tabs nav-justified custom1">
    <li role="presentation" class="<%= "active" if view == 8 %>">
        <a href="#" <%= "data-params=#{url_params}&view=8&offset=0&number=50" unless view == 8 %>><%= t(:"results.keys.frequency_list").capitalize %></a>
    </li>
	<li role="presentation" class="<%= "active" if view == 2 %>">
		<a href="#" <%= "data-params=#{url_params}&view=2&offset=0&number=50" unless view == 2 %>><%= t(:"results.keys.document_list").capitalize %></a>
	</li>
	<li role="presentation" class="<%= "active" if view == 4 %>">
		<a href="#" <%= "data-params=#{url_params}&view=4&offset=0&number=#{@query && @query.hit_count ? @query.hit_count : 100000}" unless view == 4 %>><%= t(:"results.keys.vocabulary_growth").capitalize %></a>
	</li>
</ul>