<ul class="nav nav-tabs nav-justified">
	<li role="presentation" class="<%= @tab.blank? || @tab.eql?('content') ? "active" : "" %>">
		<a href="#" class="document-tab" data-tab="content"><%= t(:"documents.keys.content").capitalize %></a>
	</li>
	<% if ENABLE_METADATA_FILTERING %>
		<li role="presentation" class="<%= !@tab.blank? && @tab.eql?('metadata') ? "active" : "" %>">
			<a href="#" class="document-tab" data-tab="metadata"><%= t(:"documents.keys.metadata").capitalize %></a>
		</li>
	<% end %>
	<li role="presentation" class="<%= !@tab.blank? && @tab.eql?('statistics') ? "active" : "" %>">
		<a href="#" class="document-tab" data-tab="statistics"><%= t(:"documents.keys.statistics").capitalize %></a>
	</li>
</ul>