<% provide(:title, t(:'page_titles.keys.explore').capitalize+" "+t(:'page_titles.keys.corpus').capitalize) %>
<div id="corpora" class="explore-input-display" data-query-filter="<%= @query && !@query.filter.blank? ? @query.filter : "" %>" data-query-group="<%= @query && !@query.group.blank? ? @query.group : '' %>" data-query-pattern="<%= @query ? @query.patt : '' %>">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="treemap-controls">
				<ul class="list-unstyled">
					<li><b><%= t(:"instructions.keys.corpora_explore_select") %>: </b>&nbsp;<%= select_tag(:"corpora-treemap-select", grouped_options_for_select(@metadata_handler.get_group_options(16, 'explore'),@option), :include_blank => false) %></li>
					<li><b><%= t(:"other.keys.scale").capitalize %></b><span class="space"></span><input type="radio" name="sizing" id="log" value="log" checked> <%= t(:"other.keys.logaritmic") %><span class="space"></span><input type="radio" name="sizing" id="normal" value="normal"> <%= t(:"other.keys.absolute") %></li>
					<li>
						<div class="btn-group" role="group">
							<button id="corpora-treemap-update" class="btn btn-primary submit"><%= t('button_labels.keys.update').capitalize %></button>
							<button class="btn btn-default btn-reset" data-url="/explore/corpora"><%= t('button_labels.keys.reset').capitalize %></button>
						</div>
					</li>
				</ul>
			</div>
			<div id="display" data-option="<%= @option %>" data-filter="<%= @filter %>"><span class="loading"></span></div>
			<br/>
			<br/>
			<br/>
			<div id="bubble-chart" data-option="<%= @option %>" style="width:960px;"><span class="loading"></span></div>
			<br/>
			<br/>
			<br/>
		</div>
	</div>
</div>
<%= render partial: "/queries/index" %>
