<% provide(:title, t(:'page_titles.keys.explore').capitalize+" "+t(:'page_titles.keys.statistics').capitalize) %>
<div id="statistics" class="explore-input-display" data-query-filter="<%= @query && !@query.filter.blank? ? @query.filter : "" %>" data-query-group="<%= @query && !@query.group.blank? ? @query.group : '' %>" data-query-pattern="<%= @query ? @query.patt : '' %>">
	<div class="row padding-top-20">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="panel panel-default">
				<div class="panel-body">
					<%= form_tag("/explore/statistics", id: "statistics-input-form", method: "get", :class => "full-height form-horizontal") do %>
						<%= hidden_field_tag :filter, "" %>
						<%= hidden_field_tag :view, @query && [2,8,4].include?(@query.view) ? @query.view : 8 %>
						<%= hidden_field_tag :offset, @view == 4 ? 0 : 0 %>
						<%= hidden_field_tag :number, @view == 4 ? 100000 : 50 %>
                        <%= hidden_field_tag :sample, "" %>
                        <%= hidden_field_tag :samplesum, "" %>
                        <%= hidden_field_tag :sampleseed, "" %>
						<div class="form-group">
							<label for="listtype" class="col-xs-4 col-sm-3"><%= t(:"form_labels.keys.freq_list_type") %></label>
							<div class="col-xs-6 col-sm-7">
								<%= select_tag(:"listtype", options_for_select(@listtype_options,@listtype), :include_blank => false) %>
							</div>
						</div>
						<div class="col-xs-12 right-aligned">
							<button class="btn btn-primary submit"><%= t('button_labels.keys.go').capitalize %></button>
							<button class="btn btn-default btn-reset" data-url="/explore/statistics"><%= t('button_labels.keys.reset').capitalize %></button>
							<input class="loadxml explore-xml" type="file" onchange="Whitelab.explore.importXMLQuery(event,this,'statistics');">
							<button type="button" class="btn btn-info btn-import"><%= t('button_labels.keys.import').capitalize %></button>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render partial: "/queries/index", :locals => { :no_output => false } %>

