<% provide(:title, t(:'page_titles.keys.explore').capitalize+" "+t(:'page_titles.keys.document').capitalize) %>
<div class="row small-form">
	<div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
		<%= form_tag("/explore/document", id: "document-input-form", method: "get") do %>
			<%= text_field_tag :xmlid, @xmlid, :class => "full-width-minus-siblings form-control" %>
			<div class="btn-group" role="group" id="submit-group">
				<button class="btn btn-primary submit"><%= t('button_labels.keys.search').capitalize %></button>
				<button type="button" class="btn btn-default btn-reset" data-url="/explore/document"><%= t('button_labels.keys.reset').capitalize %></button>
			</div>
		<% end %>
	</div>
</div>
<% if !@xmlid.blank? %>
	<%= render partial: "/documents/display" %>
<% end %>