	</div>
	<%= render partial: "layouts/dialogs" %>
	<script>
		Whitelab.namespace = '<%= @namespace %>';
		Whitelab.metadata.filterTokenSafeLimit = <%= FILTER_TOKEN_SAFE_LIMIT %>;
		<% if !@tour_data.blank? %>
			Whitelab.tour.active = true;
			<% if @tour_data.has_key?('next_url') %>
			Whitelab.tour.nextUrl = '<%= @tour_data['next_url'] %>';
			<% else %>
			Whitelab.tour.nextUrl = null;
			<% end %>
			Whitelab.tour.steps = <%= @tour_data['steps'].to_json.html_safe %>;
		<% end %>
	</script>
</body>
</html>