<!DOCTYPE HTML>
<html>
	<head>
		<% if BASE_HREF %><base href="<%= BASE_HREF %>"><% end %>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<% if yield(:title).length > 0 %>
		<title><%= t(:'application.keys.page_title') %> - <%= yield(:title) %></title>
		<% else %>
		<title><%= t(:'application.keys.page_title') %></title>
		<% end %>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="//code.highcharts.com/highcharts.js"></script>
		<script src="//code.highcharts.com/highcharts-more.js"></script>
		<script src="//code.highcharts.com/modules/exporting.js"></script>
		<script src="//highcharts.github.io/export-csv/export-csv.js"></script>
		<!-- Additional files for the Highslide popup effect -->
		<script src="//www.highcharts.com/samples/static/highslide-full.min.js"></script>
		<script src="//www.highcharts.com/samples/static/highslide.config.js" charset="utf-8"></script>

		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
		<%= favicon_link_tag 'favicon.ico' %>
	</head>
	<body onresize="Whitelab.layout.resize()" id="body">
		<nav class="navbar navbar-whitelab navbar-fixed-top">
			<!-- Left Nav Section -->
			<ul class="left">

				<% if @interface_languages.length > 3 %>
				<li class="left-spaced">
					<a data-url="<%= request.original_url %>" onclick="event.preventDefault();" disabled><%= t(:"page_titles.keys.language").capitalize %>: <%= select_tag(:default, options_for_select(@interface_languages, [@current_language]), :class => 'lang-select') %></a>
				</li>
				<% else %>
				<% @interface_languages.each do |lang| %>
				<li class="langli">
					<a class="langlink" data-language="<%= lang[1] %>" data-url="<%= request.original_url %>"> <%= image_tag "lang/"+lang[1]+".svg", :class => @current_language.eql?(lang[1]) ? "lang-icon current" : "lang-icon" %> </a>
				</li>
				<% end %>
				<% end %>

				<li class="left-spaced">
					<a id="start-tour"><%= image_tag "info_icon.png", :class => "icon" %></a>
				</li>
				<li class="left-spaced">
					<a id="admin-icon" href="/admin/login"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
				</li>
				<% if @namespace.eql?('search') %>
				<li id="main-search" class="left-spaced active">
					<a href="#" onclick="event.preventDefault();"><%= t(:"page_titles.keys.search").capitalize %></a>
				</li>
				<% else %>
				<li id="main-search" class="left-spaced">
					<a href="/search/simple"><%= t(:"page_titles.keys.search").capitalize %></a>
				</li>
				<% end %>
				<% if @namespace.eql?('explore') %>
				<li id="main-explore" class="left-spaced active">
					<a href="#" onclick="event.preventDefault();"><%= t(:"page_titles.keys.explore").capitalize %></a>
				</li>
				<% else %>
				<li id="main-explore" class="left-spaced">
					<a href="<%= ENABLE_METADATA_FILTERING ? '/explore/corpora' : '/explore/document' %>"><%= t(:"page_titles.keys.explore").capitalize %></a>
				</li>
				<% end %>
				<% if @namespace.eql?('static_pages') %>
				<li id="main-info" class="left-spaced active">
					<a href="#" onclick="event.preventDefault();"><%= t(:"page_titles.keys.info").capitalize %></a>
				</li>
				<% else %>
				<li id="main-info" class="left-spaced">
					<a href="/info"><%= t(:"page_titles.keys.info").capitalize %></a>
				</li>
				<% end %>
			</ul>

			<!-- Right Nav Section -->
			<div class="right">
				<div class="visible-sm visible-md visible-lg">
					<a href="/"> <%= image_tag "logo.png" %> </a>
				</div>
				<div class="visible-xs">
					<a href="/"> <%= image_tag "logo.png", :class => "img-xs" %> </a>
				</div>
			</div>
		</nav>
		<div id="main-div" data-locale="<%= @current_language %>" data-namespace="<%= @namespace %>" class="container-fluid main-content" style="margin-top: 70px; padding-top: 40px; padding-bottom: 40px;">
			<% if !@namespace.eql?('static_pages') %>
			<%= render partial: @namespace+'/interface/sub_nav', :locals => { :query => @query ? @query : nil, :query_params => @query ? @query.assemble_url_params(['filter', 'within', 'view', 'group', 'sort', 'number', 'offset', 'sample', 'samplenum', 'sampleseed', 'gap_values_tsv']) : '' } %>
			<% end %>
